.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.smtcmp_json_db/
.trash/
.obsidian.vimrc
.npm-local-cache

# For my local notes
[0-9][0-9][0-9].*/
